* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primario: #fff;
    --fondo: #ffebf2; 
    --fondo-sobre: #ffe3ed; 
    --solapa-sobre: #ffccd5; 
    --cuerpo-sobre: #ffc1d1; 
    --sombra: rgba(0, 0, 0, 0.2);
    --texto: #003049; 
    --corazon: #b10a8d; 
}

body {
    background: var(--fondo);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    /* Cambia la fuente y el estilo */
    font-family: 'Marck Script', cursive; 
    font-size: 65px;
    color: #4a306d; /* Un morado oscuro elegante */
    text-align: center;
    
    /* Efecto de borde blanco para que no se pierda con las nubes */
    text-shadow: 
        -2px -2px 0 #fff,  
         2px -2px 0 #fff,
        -2px  2px 0 #fff,
         2px  2px 0 #fff,
         4px 4px 10px rgba(0, 0, 0, 0.1);

    /* Asegura que esté por encima del fondo */
    position: relative;
    z-index: 10;
}


.contenedor {
    width: 400px;
}

.envoltura-sobre {
    position: relative;
    background-color: var(--fondo-sobre);
    box-shadow: 0 0 40px var(--sombra);
    border-radius: 15px;
}

.sobre {
    position: relative;
    width: 400px;
    height: 300px;
}

.sobre::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    border-top: 180px solid var(--solapa-sobre);
    border-right: 200px solid transparent;
    border-left: 200px solid transparent;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
    border-radius: 10px;
}

.solapa-derecha {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    background-color: var(--cuerpo-sobre);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.solapa-izquierda {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    background-color: var(--cuerpo-sobre);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.carta {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to bottom, #ffffff, #fdf7ff);
    text-align: center;
    box-shadow: 0 0 5px var(--sombra);
    padding: 20px;
    border-radius: 10px;
    transition: transform .5s ease-in-out;
    border: 2px solid #e8d5ff;
}


.contenido {
    font-family: 'Georgia', serif;
    color: #4a306d;
    text-align: justify;
    font-size: 15px;
    line-height: 1.8;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    
    background: #fffdfc;
    border-radius: 8px;
    
    box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
}

.corazon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--corazon);
    transform: translate(-50%,0) rotate(45deg);
    transition: transform 0.5s ease-in-out 1s;
    z-index: 999;
    cursor: pointer;
}

.corazon::before,
.corazon::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--corazon);
    border-radius: 100%;

}

.corazon:before {
    top: -15px;
}

.corazon:after {
    right: 15px;
}

/*Agregar clases dinamicos*/
.abierto .sobre::before {
    transform: rotateX(180deg);
    z-index: 0;
}

.abierto .corazon {
    transform: rotate(90deg);
    transition-delay: 0.4s;
}

.carta.mostrar-carta {
    transform: translateY(-290px);
    transition: transform .5s ease-in-out;
}

.carta.cerrando-carta {
    transform: translateY(-290px);
    transition: transform .5s ease-in-out;
}

.carta.abierta {
    z-index: 10000;
}

.envoltura-sobre.desactivar-sobre .sobre::before {
    pointer-events: none;
}

/*Scroll personalizado*/

.contenido::-webkit-scrollbar {
    width: 6px;
}

.contenido::-webkit-scrollbar-thumb {
    background: #c084fc;
    border-radius: 10px;
}


/*Vista celular*/

@media screen and (max-width:400px) {
    .contenedor {
        width: 300px;
    }

    .sobre {
        width: 300px;
        height: 250px;
    }

    .sobre::before {
        border-top:150px solid var(--solapa-sobre) ;
        border-right: 150px solid transparent;
        border-left: 150px solid transparent;
    }

}

body {
    margin: 0;
    height: 100vh;
    background: #c18dc4;
}

.fondo {
    position: fixed;
    inset: 0;
    z-index: 1;       /* fondo */
    overflow: hidden;
}

h1,
.contenedor {
    position: relative;
    z-index: 10;      /* adelante */
}

.nube {
    position: absolute;
    width: 500px;
    height: 120px;
    overflow: visible;
}


.parte {
    position: absolute;
    background: #e8c8f2;
    border-radius: 50%;
}

.p1 {
    width: 140px;
    height: 90px;
    top: 30px;
    left: 60px;
}

.p2 {
    width: 180px;
    height: 120px;
    top: 0;
    left: 160px;
}

.p3 {
    width: 140px;
    height: 90px;
    top: 30px;
    left: 300px;
}

.base {
    position: absolute;
    width: 420px;
    height: 70px;
    background: #e8c8f2;
    border-radius: 50px;
    bottom: 0;
    left: 40px;
}

/* Nube principal */
.nube-iizquierda {
    bottom: 5px;
    left: 10%;
    transform: translateX(-50%) scale(1);
}

/* Superior izquierda */
.nube-iizquierdao {
    bottom: 5px;
    left: 20%;
    transform: translateX(-50%) scale(1);
    opacity: 0.4;
}


/* Superior derecha */
.nube-idderecham {
    bottom: 300px;
    left: 82%;
    transform: translateX(-50%) scale(1);
}

/* Inferior izquierda */
.nube-idderechamo {
    bottom: 300px;
    left: 92%;
    transform: translateX(-50%) scale(1);
    opacity: 0.4;
}

.nube-sizquierda {
    bottom: 500px;
    left: 10%;
    transform: translateX(-50%) scale(1);
}

.nube-sizquierdao {
    bottom: 500px;
    left: 20%;
    transform: translateX(-50%) scale(1);
    opacity: 0.4;
}

.nube-pequeña1 {
    bottom: 250px;
    left: 20%;
    transform: translateX(-50%) scale(0.6);
}

.nube-pequeña11 {
    bottom: 250px;
    left: 25%;
    transform: translateX(-50%) scale(0.6);
    opacity: 0.4;
}

.nube-pequeña2 {
    bottom: 1px;
    left: 70%;
    transform: translateX(-50%) scale(0.6);
}

.nube-pequeña22 {
    bottom: 1px;
    left: 75%;
    transform: translateX(-50%) scale(0.6);
    opacity: 0.4;
}

.nube-pequeña4 {
    bottom: 500px;
    left: 70%;
    transform: translateX(-50%) scale(0.7);
}

.nube-pequeña44 {
    bottom: 500px;
    left: 75%;
    transform: translateX(-50%) scale(0.7);
    opacity: 0.4;
}

.corazones {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 0;
}

.corazones span {
    position: absolute;
    bottom: -20px;
    width: 14px;
    height: 14px;
    background: #573777;
    transform: rotate(45deg);
    animation: flotar 12s infinite ease-in;
    opacity: 0.8;
}

.corazones span::before,
.corazones span::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #573777;
    border-radius: 50%;
}

.corazones span::before { top: -7px; }
.corazones span::after  { left: -7px; }

@keyframes flotar {
    0% {
        transform: translateY(0) rotate(45deg);
        opacity: 0;
    }
    20% {
        opacity: 0.8;
    }
    100% {
        transform: translateY(-110vh) rotate(45deg);
        opacity: 0;
    }
}

.corazones span:nth-child(1) { left: 5%; animation-duration:6s; }
.corazones span:nth-child(2) { left: 15%; animation-duration:8s; }
.corazones span:nth-child(3) { left: 30%; animation-duration: 7s; }
.corazones span:nth-child(4) { left: 45%; animation-duration: 6s; }
.corazones span:nth-child(5) { left: 60%; animation-duration: 8s; }
.corazones span:nth-child(6) { left: 75%; animation-duration: 7s; }
.corazones span:nth-child(7) { left: 90%; animation-duration: 6s; }











