*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Monospace ;
    background-image: url('flor\ morada.avif') ;
    background-size: cover;       /* Ajusta sin deformar */
    background-position: center;  /* Centrada */
    background-repeat: no-repeat; /* No se repite */

}
/* Cajita morada*/
.form-login {
    width: 400px;
    height: 300px;
    background: #513e5a;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #888;
    padding: 20px 30px;
    border-top: 4px solid #817bab;
    color: white;
}

.form-login h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.Controls{
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px; 
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
}

.buttons{
    width: 100%;
    height: 40px;
    background: #817bab;
    border: none;
    color: white;
    margin-bottom: 16px;
}

input {
    color: white;
}

/*-------------------pagina 2------------------------*/




